body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #000
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.validation-summary-valid.alert.alert-danger{
    display: none;
}

.center-div{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.logo-panel{
    background-color: #ff9800;
}

/*dropdown multilevel INICIO*/
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0px;
    margin-left: 1px;
    border-radius: 0px 0px 0px 0px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
/*dropdown multilevem FIM*/